$blue-bg: rgb(14, 122, 184);
body {
    background-color: $blue-bg
}

.h1Text {
    text-align: center;
}

.h3Text {
    text-align: center;
}

#patSPD {
    text-align: center;
}

#kurugif {
    text-align: center;
}