$blue-bg: rgb(14, 122, 184);
$bg-cursor: url(https://i.stack.imgur.com/KDrS2.png), auto;

html {
    background-color: $blue-bg;
    cursor: $bg-cursor;
}

button {
    cursor: $bg-cursor;
}

nav {
    display: flex;
}

.h1Text {
    text-align: center;
}

.h3Text {
    text-align: center;
}

#patSPD {
    text-align: center;
}

#kurugif {
    text-align: center;
        &:hover {
            cursor: url(Z92q.gif), auto;
        }
}

#intro {
    position: relative;
    text-align: center;
    top: 100px
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

